@import "tailwindcss";

body {
  margin: 0;
}


@theme {
  /* ===== Colors ===== */
  --color-primary: #2563eb;
  --color-secondary: #7c3aed;
  --color-accent: #14b8a6;

  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --color-surface: #1e293b;
  --color-muted: #94a3b8;

  /* ===== Fonts ===== */
  --font-display: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  /* ===== Font Sizes ===== */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-4xl: 2.25rem;

  /* ===== Radius ===== */
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /* ===== Shadows ===== */
  --shadow-card: 0 10px 25px rgba(0, 0, 0, 0.15);

  /* ===== Spacing ===== */
  --spacing-section: 6rem;
}

/* ===== Base Styles ===== */
body {
  @apply bg-dark text-light font-body;
}

h1, h2, h3 {
  @apply font-display font-bold;
}